:root {
  /* background-color */
  --background: hsl(229, 57%, 11%);
  --blue: hsl(228, 56%, 26%);
  --dark-blue: hsl(229, 57%, 11%);

  /* color */
  --white: hsl(0, 0%, 100%);
  --grey: hsl(229, 7%, 55%);

  /* gradient */
  --gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  color: var(--grey);
  background-color: var(--background);
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: 100% 50vh;
  background-position: bottom;
  background-attachment: fixed;
}

p,
span {
  color: var(--pale-blue);
}

.mainblock {
  display: flex;
  min-height: 95vh;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

/* First block */
.block1 {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  padding: 45px;
  padding-right: 120px;
  border-radius: 8px;
  border-top-right-radius: 80px;
  width: 350px;
  height: 205px;
}

.block1__logo img {
  width: 130px;
  margin-bottom: 35px;
}

.block1__icon {
  display: flex;
  gap: 13px;
}

.icon img {
  width: 40px;
}

.icon {
  background-color: var(--dark-blue);
  border-radius: 8px;
}
.a {
  padding: 14px 15px;
}
.b {
  padding: 16px 14px;
}
.c {
  padding: 18px 14px;
}

/* Second block */
.block2 {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  width: 500px;
  height: 160px;
  margin-top: 45px;
}

.block2__text {
  font-size: 0.9em;
  padding-top: 120px;
  margin-bottom: 15px;
}

.block2__text strong {
  color: var(--white);
}

.block2__capacity {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}

/* Progress bar */
.progressbar-wrapper {
  border-radius: 15px;
  background-color: var(--dark-blue);
  padding: 2px;
  margin-bottom: 5px;
}

.progressbar {
  background: linear-gradient(to right, var(--gradient));
  padding: 6px;
  border-radius: 15px;
  width: 81.5%;
  position: relative;
}

.progressbar::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  bottom: 1px;
  right: 2px;
}

.block2__bubble h1 {
  color: var(--dark-blue);
  font-size: 2em;
}

.block2__bubble h2 {
  font-size: 0.8em;
  font-weight: 700;
}

.block2__bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 10px 10px 0px 10px;
  width: 170px;
  height: 70px;
  position: relative;
  bottom: 170px;
  left: 270px;
}

.triangle {
  content: "";
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 40px solid var(--white);
  border-bottom: 40px solid transparent;
  position: relative;
  bottom: 185px;
  left: 351px;
}

/* Footer */
.attribution {
  color: var(--white);
  text-align: center;
  font-size: 0.9em;
}
.attribution a {
  text-decoration: none;
  color: hsl(6, 100%, 80%);
}

@media (max-width: 950px) {
  body {
    background-image: url(../images/bg-mobile.png);
    background-size: 100% 100vh;
  }

  .mainblock {
    flex-direction: column;
    min-height: 90vh;
  }

  /* First block */
  .block1 {
    width: 320px;
    height: 200px;
  }

  /* Second block */
  .block2 {
    width: 320px;
    margin-top: 0px;
  }

  .block2__text {
    padding-top: 60px;
  }

  /* Progress bar */
  .block2__bubble {
    border-radius: 10px;
    position: relative;
    top: 25px;
    left: 45px;
  }

  .triangle {
    display: none;
  }
  /* Footer */
  .attribution {
    margin-bottom: 0px;
  }

  .attribution span {
    display: block;
    justify-content: center;
  }
}
